
services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: nico
      POSTGRES_PASSWORD: nico
      POSTGRES_DB: sysacad
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - msred

  alumno-backend:
    image: ms-alumno:v1.0.0

    deploy:
      replicas: 3
      restart_policy:
        condition: on-failure

    networks:
      - msred
      - mired

    environment:
      - FLASK_CONTEXT=production
      - PROD_DATABASE_URI=postgresql://nico:nico@postgres:5432/sysacad

    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.alumno-backend.rule=Host(`alumno-backend.universidad.localhost`)"
      - "traefik.http.routers.alumno-backend.tls=true"
      - "traefik.http.services.alumno-backend.loadbalancer.server.port=5000"
      - "traefik.docker.network=mired"

networks:
  msred:
    external: true
  mired:
    external: true

volumes:
  postgres_data:
