services:    
    postgresql:
        container_name: postgresql-servidor
        image: postgres:15.4-bullseye
        #ports:
        #    - "5432:5432"
        networks:
            - mired
        environment:
            - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
            - POSTGRES_DB=${POSTGRES_DB}
            - POSTGRES_USER=${POSTGRES_USER}
            - PGDATA=/var/lib/postgresql/data/pgdata
        volumes:
            - ./data:/var/lib/postgresql/data
            - ./sql:/docker-entrypoint-initdb.d
        restart: always
        labels:
            - "traefik.enable=true"
            - "traefik.tcp.routers.postgresql.rule=HostSNI(`*`)"
            - "traefik.tcp.routers.postgresql.entrypoints=postgresql"
            - "traefik.tcp.services.postgresql.loadbalancer.server.port=5432"

    redis:
        image: redis:8.2-alpine
        container_name: redis
        restart: always
        volumes:
          - ./data:/data
          - ./data/redis.conf:/data/redis.conf
        command: redis-server /data/redis.conf --loglevel notice --requirepass ${REDIS_PASSWORD}
        networks:
          mired:
            aliases:
              - redis.universidad.localhost
        labels:
          - "traefik.enable=true"
          - "traefik.tcp.routers.redis.rule=HostSNI(`*`)"
          - "traefik.tcp.routers.redis.entryPoints=redis"
          - "traefik.tcp.routers.redis.service=redis"
          - "traefik.tcp.services.redis.loadbalancer.server.port=6379"

    pgadmin:
        image: dpage/pgadmin4:9.9
        #ports:
        #    - "8088:80"
        environment:
            - PGADMIN_DEFAULT_EMAIL=${PGADMIN_DEFAULT_EMAIL}
            - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_DEFAULT_PASSWORD}
            - PGADMIN_LISTEN_PORT=80
        networks:
            - mired
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.pgadmin.rule=Host(`pgadmin.universidad.localhost`)"
            - "traefik.http.routers.pgadmin.tls=true"
            - "traefik.http.services.pgadmin.loadbalancer.server.port=80"
            - "traefik.docker.network=mired"

    whoami:
        deploy:
            replicas: 5
        image: containous/whoami
        security_opt:
          - no-new-privileges:true
        labels:
          - "traefik.enable=true"
          - "traefik.http.routers.whoami.rule=Host(`whoami.universidad.localhost`)"
          - "traefik.http.routers.whoami.tls=true"
          - "traefik.http.services.whoami.loadbalancer.server.port=80"
        networks:
          - mired

    reverse-proxy:
        image: traefik:v3.5
        container_name: traefik
        restart: unless-stopped
        security_opt:
            - no-new-privileges:true
        ports:
            - 80:80
            - 443:443
            - 6379:6379
            - 5432:5432
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock:ro
            - ./config:/etc/traefik:ro
            - ./certs:/etc/certs:ro

        networks:
            - mired
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.traefik=true"

networks:
    mired:
        external: true
