version: "3.9"

services:
  alumnos-service:
    image: gestion-alumnos:v1.0.1
    env_file:
      - .env

    deploy:
      replicas: 3
      update_config:
        order: start-first
      restart_policy:
        condition: on-failure
      labels:
        - "traefik.enable=true"
        - "traefik.scope=swarm"
        - "traefik.http.routers.alumnos-service.rule=Host(`alumnos.universidad.localhost`)"
        - "traefik.http.routers.alumnos-service.entrypoints=web"
        - "traefik.http.routers.alumnos-service.middlewares=alumnos-service-cb,alumnos-service-retry"
        - "traefik.http.routers.alumnos-service-secure.rule=Host(`alumnos.universidad.localhost`)"
        - "traefik.http.routers.alumnos-service-secure.entrypoints=websecure"
        - "traefik.http.routers.alumnos-service-secure.middlewares=alumnos-service-cb,alumnos-service-retry"
        - "traefik.http.routers.alumnos-service-secure.tls=true"
        - "traefik.http.routers.alumnos-service-secure.tls.certresolver=le"
        - "traefik.http.routers.alumnos-service-secure.service=alumnos-service"
        - "traefik.http.services.alumnos-service.loadbalancer.server.port=5000"
        - "traefik.docker.network=mired"


    environment:
      - FLASK_CONTEXT=${FLASK_CONTEXT:-production}
      - SQLALCHEMY_DATABASE_URI=${SQLALCHEMY_DATABASE_URI}
      - HOST_DB=${HOST_DB}
      - USER_DB=${USER_DB}
      - PASSWORD_DB=${PASSWORD_DB}
      - NAME_DB=${NAME_DB}
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
      - REDIS_PASSWORD=${REDIS_PASSWORD}

    networks:
      mired:
        aliases:
          - alumnos.universidad.localhost

networks:
  mired:
    external: true
